apiVersion: apps/v1
kind: Deployment
metadata:
  name: gke-test
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
