apiVersion: apps/v1
kind: Deployment
metadata:
  name: gke-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opslabs
  template:
    metadata:
      labels:
        app: opslabs
    spec:
      containers:
        - name: opslabs
          image: PROJECT/IMAGE